/* definindo nosso estilo... */ 
@charset "utf8";

.fundofixo{
    background: url("tiphpnt-master/fonts/pexels-harvey-1790574.jpg");
}

.fundo{
    width: auto;
    justify-content: left;
    align-items: center;
}