/* definindo nosso estilo... */ 
@charset "utf8";

.fundofixo{
    background: url("../img/pexels-harvey-1790574.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.h3{
    background: #f8c2c2;
    text-align: center;
}
.div{
    display: flex;
}
.div-tipo{
    display: flex;
    float: right;
}
.div-tipo1{
    float:left;

}
.img{
    align-items: center;
    display: flex;
    padding: 10%;
}
